$primary:       #1d4895 ;
$secondary:     #87bb36 ;
$light:         #f1f1f1 ;
$dark:          #000000 ;

$font-family-sans-serif: "Poppins", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$headings-font-weight: 500;
$font-weight-base: $font-weight-normal !default;

//then bootstrap & bootstrap-vue should be added after
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

.cursor-pointer {
  cursor: pointer;
}
ul.b-crumb {
  display: inline-block;
  padding: 0;
  li {
    float: left;
    list-style: none;
    margin-right: 10px;
    a, span {
      text-decoration: none;
      color: #0f2754;
    }
  }
}
@media (max-width: 425px) {
  ul.b-crumb {
    li {
      margin-right: 5px;
      font-size: .7em;
    }
  }
}

// Responsive
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1360px;
  }
}

@media (max-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg {
      max-width: 100% !important;
  }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

// header
.position-header {
  background: linear-gradient(0deg, #1d4895 45%, #ffffff 45%);
  .header-menu-pos { text-align: right; }
}

// footer
footer {
  overflow: hidden;
  padding-top: 80px;
  margin-top: 80px;
  .top-bg-image {
    margin-bottom: -1px;
  }
  .position-footer {
    background: #054e97;
    .leftBorder {
      border-left: 3px solid #fff;
    }
    .s-items a{
      display: block;
      text-decoration: none;
      clear: both;
      text-align: right;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
    }
    .copyright {
      color: #fff;
      font-size: .9rem;
      margin-top: 30px;
    }
  }
}

@media (max-width: 768px) {
  footer {
    .f-block {
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 425px) {
footer {
  .top-bg-image {
    transform: scale(2.5);
    img {
      margin-top: -20px;
    }
  }
  .copyright {
    text-align: left !important;
    font-size: 0.6rem;
  }
  .position-footer {
    .f-block {
      border-left: none !important;
    }
    .s-items {
      text-align: center;
      margin-bottom: 15px;
      a {
        font-size: .9rem;
        display: inline-block;
        margin: 5px;
      }
    }
  }
}
}

// fixes
.dropdown .btn:focus {
  outline: none;
  box-shadow: none !important;
}

// table
.b-table-sticky-header {
  overflow-y: auto;
  max-height: 286px !important;
}
table.teamsTable {
  font-size: .6em !important;
  &.table-striped tbody tr:nth-of-type(odd) {
    font-weight: 600;
  }
  .teamsHead tr th {
    background: #fbfbfb;
  }
  tr td {
    white-space: nowrap;
  }
  tr.we-here {
    color: #1d4895;
    font-weight: 600;
  }
}

// navigation
.mP-root {
  position:relative;
  width: 100%;
  display: block;
  p {
    margin: 0;
  }
  &.pos-headerNav {
    display: inline-block !important;
    width: auto !important;
    text-align: left;
    &> .mP-item {
      padding: 6px 0px 0 12px !important;
    }
    .mP-item {
      &:hover .mP-link, .mP-link.nuxt-link-exact-active, .mP-link.activeNavLink {
        border-top: 2px solid #fff;
      }
      .mP-link {
        color: #fff;
        font-size: 1.1em;
        font-weight: 400;
        letter-spacing: .7px;
        text-decoration: none;
        padding-top: 1px;
      }
    }
  }
}
.mP-level {
  display: inline-block;
  &.mP-vertical {
    &.onFooter {
      width: auto !important;
      &> .mP-item {
        float:left;
        margin-right: 10px;
        &>.mP-link {
          text-decoration: none;
          color: #fff;
          font-weight: 500;
          cursor: pointer;
          display: inline-block;
        }
      }
    }
    &:not(.onFooter) {
      height: 100%;
      background: linear-gradient(0deg, #b4b4b4 0%, #ffffff 100%);
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
      border-radius: 12px;
      padding: 1rem .5rem;
      &> .mP-item {
        margin-bottom: .5rem;
        &>.mP-link {
          text-decoration: none;
          color: #000;
          font-weight: 500;
          transition: color .3s;
          cursor: pointer;
          &:hover {
            color: #1d4895;
            transition: color .3s;
          }
        }
      }
    }
  }
  &.mP-horizontal > .mP-item {
    display: inline-block;
  }
  .mP-item {
    a.mP-link {
      display: block;

      span.mP-icon {
        display: inline-block;
        width: 35px;
        margin-right: 5px;
        img {
          width: 100%;
        }
      }
    }

    .mP-level:not(.trigger-visible) {
      display: none;
      position: absolute;
    }

    .mP-level.trigger-visible:not(.mP.mP-dropdown-list) {
      display: flex;
    }

    .mP-level.trigger-visible.mP.mP-dropdown-list {
      display: inline-block;
    }

    .mP-level {
      width: auto;
      z-index: 12;
      background: #102140;
      &.row {
        margin-left: 0;
        margin-right: 0;
      }

      .mP-item .mP-link {
        padding: .5em;
        color: #fff;
        font-size: .8rem;
        transition: all .3s;
        font-weight: 500;

        &:hover {
          background: #fff;
          color: #102140;
          transition: all .3s;
        }
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 895px) {
  .mP-root > .mP-item.hideOnMobile {
    display: none;
  }
  .mP-root.pos-headerNav > .mP-item {
    padding: 6px 0px 0 8px !important;
    .mP-link {
      font-size: .9rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .mP-level {
    &.mP-vertical {
      &:not(.onFooter) {
        height: auto !important;
        &> .mP-item {
          margin: .5em .5em;
          &>.mP-link {
            font-size: .8em;
          }
          &>.ql-editor {
            margin-bottom: .1em !important;
            padding: .3em 1em;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .mP-level {
    &.mP-vertical {
      display: block;
      width: 100%;
      overflow: auto;
      white-space: nowrap;
      &:not(.onFooter) {
        height: auto !important;
        margin-bottom: 0;
        background: linear-gradient(0deg, #b4b4b4 0%, #ffffff 100%);
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
        border-radius: 12px;
        padding: .5rem;
        &> .mP-item {
          display: inline-block;
          margin: 1em .5em;
          &.hideOnMobile {
            display: none;
          }
          &>.mP-link {
            text-decoration: none;
            color: #000;
            font-weight: 500;
            transition: color .3s;
            cursor: pointer;
            &:hover {
              color: #1d4895;
              transition: color .3s;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .mP-root.pos-headerNav {
    display: block !important;
    width: 100% !important;
  }
  .mP-root > .mP-item.hideOnMobile {
    display: none;
  }
  .mP-level {
    display: inline-block;
    margin-bottom: 40px;
    &.mP-vertical {
      &.onFooter {
        &> .mP-item {
          display: inline-block;
          width: calc(50% - 20px);
          margin: 10px;
          &>.mP-link {
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            cursor: pointer;
            text-align: center !important;
          }
        }
      }
    }
  }
  .mP-root.pos-headerNav {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    .mP-item {
      width: 100%;
      &.active, &:hover {
        .mP-link {
          border-top: none !important;
          color: #fff;
          background: $primary;
        }
      }
      .mP-link {
        color: $primary;
        font-weight: 600;
        font-size: 1.3rem;
        padding: 5px !important;
        border-bottom: 1px solid $primary;
        &.has-childs {
          position: relative;
          &:after {
            content: '\f0fe';
            position: absolute;
            right: 5px;
            font-family: "Font Awesome 5 Free";
          }
        }
      }
      .mP-level:not(.trigger-visible) {
        position: relative !important;
      }
    }
  }
}
//Triggers
.mP-level > .mP-item {
  &:hover > .mP-level.trigger-hover {
    &.mP-dropdown-grid { display: flex}
    &.mP-dropdown-list { display: inline-block}
  }

  &:active > .mP-level.trigger-click,
  &:focus > .mP-level.trigger-click,
  &:focus-within > .mP-level.trigger-click
  {
    &.mP-dropdown-grid { display: flex}
    &.mP-dropdown-list { display: inline-block}
  }
}

@media (max-width: 768px) {
  .mP-level > .mP-item {
    &:hover > .mP-level.trigger-hover {
      &.mP-dropdown-list { display: block}
    }

    &:active > .mP-level.trigger-click,
    &:focus > .mP-level.trigger-click,
    &:focus-within > .mP-level.trigger-click
    {
      &.mP-dropdown-list { display: block}
    }
  }
}

// module headers
.g-module-header {
  background: #004e97;
  color: #fff;
  border-radius: 12px;
}

//Swiper custom bullet
.bss-paginate-bullet {
  border-radius: 50% !important;
  background-image: -moz-linear-gradient( 90deg, rgb(217,217,217) 0%, rgb(255,255,255) 100%) !important;
  background-image: -webkit-linear-gradient( 90deg, rgb(217,217,217) 0%, rgb(255,255,255) 100%) !important;
  background-image: -ms-linear-gradient( 90deg, rgb(217,217,217) 0%, rgb(255,255,255) 100%) !important;
  box-shadow: 0px 1px 0.99px 0.01px rgba(0, 0, 0, 0.86),inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35) !important;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin: 0 4px;

  &.swiper-pagination-bullet-active {
    background: #004e97;
  }
}